{
    "env": "local",
    "server": {
        "host": "0.0.0.0",
        "port": 3000,
        "host_be": "https://be",
        "host_fe": "https://fe",
        "timezone": "Asia/Jakarta"
    },
    "postgre": {
        "host": "172.17.0.1",
        "port": "5432",
        "timezone": "Asia/Jakarta",
        "username": "postgres",
        "password": "riyan",
        "database": "golang-boilerplate-two",
        "connection": {
            "max_idle": 10,
            "max_open": 20,
            "max_lifetime": 60
        }
    },
    "redis": {
        "host": "172.17.0.1",
        "port": 6379,
        "username": "default",
        "password": "riyan",
        "database": 0
    },
    "jwt": {
        "secret": {
            "access": "secretAccess",
            "refresh": "secretRefresh",
            "reset": "secretTokenResetPwd"
        },
        "expired": {
            "logoff": 45,
            "access": 60,
            "refresh": 120,
            "reset": 10
        }
    },
    "smtp": {
        "host": "smtp.gmail.com",
        "port": 587,
        "email": "mail@mail.com",
        "password": "lalalayeyeye"
    },
    "certificate": {
        "crt": "/home/riyan/Data/Learn/Golang/gohertz/certificate/certificate.crt",
        "key": "/home/riyan/Data/Learn/Golang/gohertz/certificate/privateKey.key"
    }
}